{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <p>{{ request.user.username }}</p>
    <p>{{ request.user.email }}</p>
    <p>{{ request.user.first_name }}</p>
    <br/>
    <a href="{% url 'user_login' %}" class="btn btn-info">Login</a>
    <a href="{% url 'logout' %}" class="btn btn-warning">Logout</a>
    <a href="{% url 'user_register' %}" class="btn btn-secondary">Register</a>
    {% if request.user.is_authenticated %}
        <h2> You are logged in now!</h2>
    {% else %}
        <h2> You are Not Logged in!!!!!</h2>
    {% endif %}
{% endblock %}

